.favoriets{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px 50px;
    padding-top: 3rem;
    padding-bottom: 3rem; 
}
@media (max-width: 1399px) {
  .favoriets {
    grid-template-columns: repeat(4, 220px);

  }
}
@media (max-width: 1199px) {
  .favoriets {
    grid-template-columns: repeat(3, 200px);


  }
}
@media (max-width: 1011px) {
  .favoriets {
    grid-template-columns: repeat(3, 200px);

   
  }
}
@media (max-width: 950px) {
  .favoriets {
    grid-template-columns: repeat(3, 200px);

  }
}

@media (max-width: 767px) {
  .favoriets {
    grid-template-columns: repeat(2, 200px);


  }
}
@media (max-width: 560px) {
  .favoriets {
    grid-template-columns: repeat(1, 200px);
  }

}
